
PositionCalculator/obj/project.nuget.cache
PositionCalculator/obj/project.assets.json
PositionCalculator/obj/PositionCalculator.csproj.nuget.g.props
PositionCalculator/obj/PositionCalculator.csproj.nuget.dgspec.json
PositionCalculator/obj/Debug/net6.0/refint/PositionCalculator.dll
PositionCalculator/obj/Debug/net6.0/ref/PositionCalculator.dll
PositionCalculator/obj/Debug/net6.0/PositionCalculator.pdb
PositionCalculator/obj/Debug/net6.0/PositionCalculator.genruntimeconfig.cache
PositionCalculator/obj/Debug/net6.0/PositionCalculator.GeneratedMSBuildEditorConfig.editorconfig
PositionCalculator/obj/Debug/net6.0/PositionCalculator.dll
PositionCalculator/obj/Debug/net6.0/PositionCalculator.csproj.CoreCompileInputs.cache
PositionCalculator/obj/Debug/net6.0/PositionCalculator.csproj.AssemblyReference.cache
PositionCalculator/obj/Debug/net6.0/PositionCalculator.assets.cache
PositionCalculator/obj/Debug/net6.0/apphost.exe
PositionCalculator/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
PositionCalculator/bin/Debug/net6.0/PositionCalculator.pdb
PositionCalculator/bin/Debug/net6.0/PositionCalculator.exe
PositionCalculator/bin/Debug/net6.0/PositionCalculator.dll
BotCore/obj/project.nuget.cache
BotCore/obj/project.assets.json
BotCore/obj/Debug/net6.0/BotCore.GeneratedMSBuildEditorConfig.editorconfig
BotCore/obj/Debug/net6.0/BotCore.csproj.AssemblyReference.cache
BotCore/obj/Debug/net6.0/BotCore.assets.cache
BotCore/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
BotCore/obj/BotCore.csproj.nuget.g.props
BotCore/obj/BotCore.csproj.nuget.dgspec.json
.vs/BitfinexApi/v17/.suo
.vs/BitfinexApi/FileContentIndex/f5e12065-0aca-4d02-abf7-480ffa972c99.vsidx
.vs/BitfinexApi/FileContentIndex/5960062f-ca40-47d3-8359-c87e4afc8b6d.vsidx
.vs/BitfinexApi/FileContentIndex/26b35c53-7d08-41bd-ae9d-007dd1caac96.vsidx
.vs/BitfinexApi/FileContentIndex/0c10a037-64ee-4d2b-941a-a90211733dd4.vsidx
.vs/BitfinexApi/DesignTimeBuild/.dtbcache.v2
