<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bitfinexfng.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2f0399ec-0937-40dd-b0fd-058999293b28/resourcegroups/azuretest/providers/Microsoft.Web/sites/BitfinexFng</ResourceId>
    <UserName>$BitfinexFng</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://bitfinexfng.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>